.default-btn {
	display: inline-block;
	background: none;
	border: none;
	user-select: none;
	cursor: pointer;
}


.bar-menu-btns {
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: var(--font-medium);
	font-size: var(--f-20);
	color: var(--c-black-100);
	text-decoration: none;
	user-select: none;
	opacity: 100%;
	transition: opacity 200ms;
}


/* navbar hovering effect */
.navbar .bar-menu-btns:hover {
	opacity: 50%;
	transition: opacity 200ms;
}

.book-btn {
	padding: 10px;
	background-color: var(--bg-green);
	font-family: var(--font-medium);
	font-size: var(--f-18);
	color: var(--c-white);
	border-radius: var(--br-10);
	transition: background-color 300ms;
}

.book-btn:hover {
	background-color: var(--bg-green-100);
	transition: background-color 400ms;
}

.hided-btn {
	display: none;
}