@font-face {
	font-family: "Figtree-Black";
	src: url("../assets/fonts/Figtree-Black.ttf");
	font-display: swap;
}

/* @font-face {
	font-family: "Figtree-Bold";
	src: url("../Assets/fonts/Figtree-Bold.ttf");
	font-display: swap;
} */

@font-face {
	font-family: "Figtree-Medium";
	src: url("../assets/fonts/Figtree-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Figtree-Regular";
	src: url("../assets/fonts/Figtree-Regular.ttf");
	font-display: swap;
}

/* @font-face {
	font-family: "Figtree-SemiBold";
	src: url("../Assets/fonts/Figtree-SemiBold.ttf");
	font-display: swap;
} */

:root {
	--font-black: Figtree-Black, "sans-serif";
	/*main - 1*/
	--font-medium: Figtree-Medium, "sans-serif";
	/*button - 1 ,main - 5 */
	--font-regular: Figtree-Regular, "sans-serif";
	/*global - 1*/
}