:root {
	--w-half: 50%;
	/* font-size */
	--f-16: 16px;
	--f-18: 18px;
	--f-20: 20px;
	--f-30: 30px;

	/* border-radius */
	--br-8 : 8px;
	--br-10: 10px;
	--br-15: 15px;
	--br-25: 25px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-default);
	font-family: var(--font-regular);
	font-size: 16px;
	color: var(--c-black-100);
	line-height: 1.5;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

::-webkit-scrollbar {
	display: none;
}