@media screen and (max-width: 1600px) {
	.text-part {
		width: 435px;

	}

	.text-part>* {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {

	.gallary-part {
		width: 50%;
	}

	.text-part {
		width: 435px;
	}

	.gallary-part div img {
		width: 100%;
	}

	.footer-links {
		gap: 3rem;
	}

}

@media screen and (max-width:894px) {

	.hide-btn {
		display: none;
	}

	.hided-btn {
		display: flex;
		justify-content: end;

	}

	.landing-page {
		flex-wrap: wrap;
		padding-top: 40px;

	}

	.gallary-part,
	.text-part {
		width: 100%;
	}

	.text-part {
		padding: 1rem;
	}

	.gallary-part div {
		width: 100%;
		object-fit: cover;
	}

	h2 {
		font-size: var(--f-20);
	}

	.features-list {
		grid-template-columns: 1fr;
		row-gap: 30px;
		padding: 1rem;
	}

	.footer-wrapper {
		flex-wrap: wrap;
		row-gap: 1rem;
		padding: 40px 50px;
	}

	.footer-links {
		flex-wrap: wrap;
	}

	.footer-bar {
		display: block;
	}

}


@media screen and (max-width:400px) {
	.navbar-wrapper {
		padding: 10px 1em;
	}

	.app-logo {
		width: 100px;
	}

	.nav-booknow-btn {
		padding: 10px;
	}

	.landing-page {
		padding: 10px;
	}

	.text-part h1 {
		font-size: 24px;
	}

	.text-part p {
		font-size: 20px;
	}

	.sports-list,
	.bg-white-section {
		margin: 20px 15px;
	}

	h2 {
		font-size: var(--f-16);
	}

	.footer-wrapper {
		padding: 20px 20px;
	}

	.features-list div p {
		font-size: 16px;
	}
}