@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('./style/color.css');
@import url('./style/global.css');
@import url('./style//animation.css');

@font-face {
    font-family: 'figtree-reg';
    src: url('./assets/fonts/Figtree-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'figtree-black';
    src: url('./assets/fonts/Figtree-Black.ttf');
    
    font-display: swap;
}



